*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    background-color: #191919;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    position: relative;
}

canvas{
    background-color: #111;
}

.detalhes{
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.scores, .record{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    justify-content: center;
}

.score--value,.record-value {
    font-weight: 700;
    font-size:3rem;
    display: block;
    margin-top: -10px;
}

.menu-screen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.game-over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

.final-score {
    font-weight: 500;
    font-size: 1.5rem;
}

.btn-play {
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.image{
    width: 100%;
}
.image h1{
    position: absolute;
    bottom: 150px;
    right: 50px;
    font-size: 1.2rem;
}

.image img{
    position: absolute;
    bottom: 0;
    right: 50px;
}

.deficulte{
    position: absolute;
    z-index: 1;
    text-align: center;
}

.deficulte h1{
    font-size:2.7rem;
}

.deficulte button{
    padding:10px 30px;
    font-weight: bold;
    border-radius: 40px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.git{
    position: absolute;
    z-index: 1;
    left: 10px;
    bottom: 10px;
    font-size: 1.1rem;
}

.git a{
    text-decoration: none;
    color: #FFF;
}

.git a:hover{
    text-decoration: underline;
    color: #CCC;
}